#project 
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

#project_add,#to_show_task_creating
{ 
    border-radius: 0.2em;
    border: 1px solid black;
    padding: 10px 15px;
    margin: 0 15px 0 0;
    transition: 0.3s;
}

#to_show_task_creating
{
    margin: 0px;
}

#project_add:hover,#to_show_task_creating:hover    
{
    background-color: #4CAF50; /* Green */
    color: white;
}

