*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

html
{
    height: 100%;   
}

body
{
    height: 100%;
    /* background-color: #C4C4C4; */
    background-color: #3C3C3C;
}

main 
{
    padding: 10px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;

    height: 100%;
}

div.project-list
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    max-height: calc(100% - 37px);
}

.container 
{
    max-width: 1440px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}


#task_creating_form  
{
    border: 1px solid black;
    width: 500px;
    height: 500px;

    background-color: #ffffff;

    position: absolute;

    display: none;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

.task
{
    border: 1px solid black;
}

#task_total
{
    margin-top: 10px;
    border: 1px solid black;
}