section.projects, section.targets-works
{ 
    /* width: 30%; */
    /* background: linear-gradient(to top left, powderblue, pink); */
    background-color: gray;
    border-radius: 0.8em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;

    transition: all .4s;
    overflow: auto;
}

section.projects
{
    max-height: 100%;
}

div.section-title
{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center; 
}

h1.section-title
{
    margin-bottom: 10px;
}

button.add-button
{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    background: #1D4EFF;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 10px 15px;
    transition: all .2s;
}

button.add-button:hover{
    box-shadow: 0px 0px 10px 4px #1D4EFF;
}

div.all-items
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
}

div.all-items div.item:last-child
{
    margin-bottom: 0;
}

div.item
{
    display: block;
    background-color: black;
    color: #fff;
    width: 100%;
    margin-bottom: 10px;

    border-radius: 0.8em;
    transition: all .2s;
}

div.item:hover
{
    box-shadow: 5px 5px 12px 1px #000;
}

div.active-item
{
    background-color: #A1FF92;
    color: #000;
    transition: all .2s;
}

div.active-item:hover
{
    box-shadow: 5px 5px 12px 1px #A1FF92;
}

div.item:hover, div.active-item:hover
{
    cursor: pointer;
    transform: scale(1.05);
}

span.item-title 
{   
    display: block;
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
    
}

@media all and (max-width: 1050px)
{
    section.projects 
    {
        width: 100%;
        margin-bottom: 20px;
    }
    section.projects div.project-list
    {
        justify-content: space-between;
    }
    section.projects div.all-items
    {
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    section.projects div.item
    {
        display: inline-block;
        width: auto;
    }
    section.targets-works
    {
        width: 45%;
    }
}

@media all and (max-width: 553px)
{
    section.targets-works
    {
        margin-bottom: 20px;
        width: 100%;
    }

    main section.targets-works:last-child
    {
        margin-bottom: 0px;
    }

    div.project-list
    {
        justify-content: center;
    }
}