<div class="creating-form" id="creating-project-form" style="display: none;">
    <button class="close-button">Закрыть</button> 
    <input type="text" id="project-name" placeholder="Введите имя проекта">
    <input type="date" id="project-date-created" placeholder="Введите дату начала проекта (год-месяц-день часы:минуты)">
    <input type="date" id="project-date-end" placeholder="Введите дату окончания проекта (год-месяц-день часы:минуты)">
    <button id="project-create">Создать проект</button>
</div>