<section class="projects">
    <div class="section-title">
        <h1 class="section-title"> Все проекты </h1>
        <button class="add-button"> Добавить проект </button>
    </div>
    <div class="all-items" id="all-projects">
        
        <!-- <div class="item active-item" data-item-number="1"> 
            <span class="item-title"> Название проекта </span> 
        </div>

        <div class="item active-item" data-item-number="2"> 
            <span class="item-title"> Название проекта </span> 
        </div>

        <div class="item" data-item-number="3"> 
            <span class="item-title"> Название проекта </span> 
        </div>

        <div class="item" data-item-number="4"> 
            <span class="item-title"> Название проекта </span> 
        </div>

        <div class="item" data-item-number="5"> 
            <span class="item-title"> Название проекта </span> 
        </div> -->

    </div>

</section>